

/* ===============Styling for Document================= */


.container-1{
  height: 100vh;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-2{
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
